<div class="side-bar">
    <div><i class="uil uil-ellipsis-h"></i></div>
    <!--barra default con sus iconos-->
    <ul class="side-bar__list list-one">
        <li [routerLink]="item.router" *ngFor="let item of mainMenu.defaultOptions">
            <div class="list-wrapper-item">
                <i class="{{item.icon}}"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <!--Fin Barra default-->

    <!--Barra de access links-->
    <div class="side-bar__separator"></div>
    <ul class="side-bar__list list-two">
        <li *ngFor="let item of mainMenu.accessLink">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <!--Fin access links-->
    
    <!--Listas de Reproduccion-->
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li *ngFor="let item of customOptions">
            <div class="list-wrapper-item">
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <!--Fin Listas de Reproduccion-->
</div>