
.section--generic {
    margin-bottom: 2rem;
}

@media (max-height: 799px){
    .big{
        min-height: 130vh 
    
    }}

@media  (min-height: 800px){
.large{
    min-height: 110vh !important

}}

.section--generic__player--zone .player--list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.15rem;
}

.section--generic__player--zone .player--list.card-small {
    grid-template-columns: repeat(4, 1fr);
}

.section--generic__player--zone .player--list.card-big {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}